// Variables
$calendar-width : 700px;

// Mixins
@mixin disable-btn-style {
    border: none;
    background: none;
    outline: none;
}

.hide {
    display: none;
}

#month-name {
    display: inline-block;
    padding: 0 5px 4px 5px;
    width: 200px;
}

#table-heading {
    text-align: center;
}

.arrow {
    font-size: 32px;
    padding: 5px 10px;
    @include disable-btn-style();
}

.today-btn {
    font-size: 20px;
    background: white;
    padding: 6px;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}

.arrow:hover {
    cursor: pointer;
}

#calendar {
    width: $calendar-width;
    margin: 0 auto;
}

.day {
    border: 1px solid black;
    width: $calendar-width / 7;
    height: 90px;
    vertical-align: top;
}

.day span {
    display: inline-block;
    width: 95%;
    height: 20px;
    padding-top: 5px;
    padding-right: 5px;
    text-align: right;
}

.plus-button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    @include disable-btn-style();
}

.month {
    border-spacing: 0px;
}

.calendar-table-header {
    height: 30px;
    background-color: lightblue;
}

.calendar-table-header th {
    border: 2px solid black;
}

.current-month {
    background-color: lightgray;
}

.current-date {
    background-color: #fff3c9;
}